.app {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.app.dark,
.app.dark * {
    color: #fff;
    background-color: #000;
}

button {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}